<div>
    <h1>Buenas {{user.name}}</h1>
    {{#if user.isAdmin}}
        {{#each userList}}
            <div>
                <p>{{this.name}}</p>
                <p>{{this.surname}}</p>
            </div>
        {{/each}}
    {{else}}
        <p>No sos admin, salí de acá!</p>
    {{/if}}
</div>